label.a.slide1 {
    animation-duration: 1s;
    animation-name: slideinfromleft;
    position: relative;
}

label.a.slide2 {
    animation-duration: 1.25s;
    animation-name: slideinfromleft;
    position: relative;
}

label.a.slide3 {
    animation-duration: 1.5s;
    animation-name: slideinfromleft;
    position: relative;
}

label.a.slide4 {
    animation-duration: 1.75s;
    animation-name: slideinfromleft;
    position: relative;
}

label.a.slide5 {
    animation-duration: 2s;
    animation-name: slideinfromleft;
    position: relative;
}


@keyframes slideinfromleft {
    from {
        left: -640px;
    }

    to {
        left: 0;
    }
}

label.b.slide1 {
    animation-duration: 1s;
    animation-name: slideinfromright;
    position: relative;
}

label.b.slide2 {
    animation-duration: 1.25s;
    animation-name: slideinfromright;
    position: relative;
}

label.b.slide3 {
    animation-duration: 1.5s;
    animation-name: slideinfromright;
    position: relative;
}

label.b.slide4 {
    animation-duration: 1.75s;
    animation-name: slideinfromright;
    position: relative;
}

label.b.slide5 {
    animation-duration: 2s;
    animation-name: slideinfromright;
    position: relative;
}

@keyframes slideinfromright {
    from {
        left: 640px;
    }

    to {
        left: 0;
    }
}