:root {
    --bg: #E7E5E2;
    --fg: #243233;
    --br: #243233;
    --fg-lnk: #8FA3A9;

    --bg-header: #8FA3A9;
    --fg-header: #243233;
    --bg-ab: #89A6C0;

    --bg-a: #F7D214;
    --fg-a: #243233;
    --bg-b: #243233;
    --fg-b: #F7D214;

    --bg-ab-chkd: #B3472B;
    --fg-ab-chkd: #E7E5E2;
    --br-ab-chkd: #000000;

    --fg-sep: #243233;
    --fg-que: #243233;
    --bg-nxt: #8FA3A9;
    --fg-nxt: #243233;
}

[data-theme="dark"] {
    --bg: #243233;
    --fg: #E7E5E2;
    --br: #E7E5E2;
    --fg-lnk: rgb(169, 162, 151);

    --bg-header: rgb(74, 91, 96);
    --fg-header: rgb(205, 200, 194);
    --bg-ab: rgb(56, 81, 104);

    --bg-a: rgb(143, 120, 5);
    --fg-a: rgb(29, 40, 41);
    --bg-b: rgb(29, 40, 41);
    --fg-b: rgb(248, 214, 41);

    --bg-ab-chkd: rgb(143, 57, 34);
    --fg-ab-chkd: rgb(215, 212, 207);
    --br-ab-chkd: rgb(140, 130, 115);

    --fg-sep: rgb(205, 200, 194);
    --fg-que: rgb(248, 214, 41);
    --bg-nxt: rgb(74, 91, 96);
    --fg-nxt: rgb(205, 200, 194);
}