{% extends 'base.html' %}

{% block main %}
        <div class="ab">
            <div class="a">
                <h1>404 - Page not found</h1>
                <p>Sorry, the page you requested does not exists.</p>
                <p>[<a href="/">Home</a>]</p>
            </div>
        </div>
        <div id="footer">
            <div class="box">&nbsp;</div>
{% include 'toggle.html' %}            
            <div class="box">&nbsp;</div>        
        </div>
{% endblock %}
