<!DOCTYPE html>
<html lang="{{ i18n.lang }}" data-theme="{{ config.theme }}">

<head>
    <title>{{ i18n.title }}</title>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/toggle.js') }}?t={{ epoch }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/base.css') }}?t={{ epoch }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/colors.css') }}?t={{ epoch }}">
    {%- if config.animations == "1" or config.animations == "true" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/animations.css') }}?t={{ epoch }}">
    {%- endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta property="og:title" content="{{ i18n.title }}">
    <meta property="og:site_name" content="{{ i18n.title }}">
    <meta property="og:url" content="{{ config.url }}">
    <meta property="og:description" content="{{ i18n.desc }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ url_for('static', filename='ab.jpg') }}">
</head>

<body>
    <div id="background">
        <div id="content">
            <div id="header">{{ i18n.title }}</div>
            <hr>
            {%- block main %}
            {%- endblock %}
        </div>
    </div>
    <script type="text/javascript">
        initToggle();
    </script>
</body>

</html>