{% extends 'base.html' %}

{% block main %}
        <script type="text/javascript" src="{{ url_for('static', filename='/js/autoReload.js') }}?t={{ epoch }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='/js/shortcut.js') }}?t={{ epoch }}"></script>

        {%- set id = namespace(value=0) %}
        {%- for question in content %}
        {%- set id.value = id.value + 1 %}
        <div class="ab">
            <input type="radio" id="a{{ id.value }}" class="a" name="group-{{ id.value }}">
            <label for="a{{ id.value }}" class="a slide{{ id.value }}" title="{{ question['A'] }}"> A)&nbsp;{{ question['A'] }}</label>
            <input type="radio" id="o{{ id.value }}" class="separator" name="group-{{ id.value }}">
            <label for="o{{ id.value }}" class="separator">{{ i18n.separator }}</label>
            <input type="radio" id="b{{ id.value }}" class="b" name="group-{{ id.value }}">
            <label for="b{{ id.value }}" class="b slide{{ id.value }}" title="{{ question['B'] }}">B)&nbsp;{{ question['B'] }}</label>
        </div>
        <hr>
        {%- endfor %}
        <div id="footer">
            <div id="questions">
                {{ i18n.questions_prefix }} {{ num_lines }} {{ i18n.questions_suffix }}
                <br>
                {%- if config.mailform == "true" %}
                <a href="/form">{{ i18n.mailtext }}</a> - 
                {%- endif %}
                <a href="#">{{ i18n.helptext }}
                    <div id="help">
                        {{ i18n.help|safe }}
                    </div>
                </a>
            </div>
{% include 'toggle.html' %}            
            <form action="/" method="get">
                <input type="hidden" name="t" value="{{ epoch }}">
                <button id="next" type="submit">{{ i18n.more }}</button>
            </form>
        </div>

        <script type="text/javascript">
            autoReload();
            monitorRadio();
        </script>
        {% endblock %}
