{% extends 'base.html' %}

{% block main %}
<form action="/send" method="post">
    <input type="hidden" name="t" value="{{ epoch }}">
    <div class="ab">
        <div class="form">
            <div><label for="questions">{{ i18n.submit_questions | safe }}</label></div>
            <div><textarea name="questions" required></textarea></div>
        </div>
    </div>
    <div id="footer">
        <div id="questions">
            {{ i18n.questions_prefix }} {{ num_lines }} {{ i18n.questions_suffix }}
            <br>
            <a href="/">Home</a>
        </div>
        {% include 'toggle.html' %}
        <button id="next" type="submit">{{ i18n.submit }}</button>
    </div>
</form>
{% endblock %}