{% extends 'base.html' %}

{% block main %}
        <div class="ab">
            <div class="a">
                <h1>{{ i18n.submit_thanks_title }}</h1>
                {{ i18n.submit_thanks | safe }}
                <p>[<a href="/">Home</a>]</p>
            </div>
        </div>
        <div id="footer">
            <div class="box">&nbsp;</div>
{% include 'toggle.html' %}            
            <div class="box">&nbsp;</div>        
        </div>
{% endblock %}
