            <div class="spacer">&nbsp;</div>
            <div class="toggle">
                {%- if theme == "light" %}
                <input type="checkbox" id="toggle_checkbox">
                {%- else %}
                <input type="checkbox" id="toggle_checkbox" checked="checked">
                {%- endif %}
                <label for="toggle_checkbox" class="toggle_label">
                    <div id="star">
                        <div class="star" id="star-1">★</div>
                        <div class="star" id="star-2">★</div>
                    </div>
                    <div id="moon"></div>
                </label>
            </div>